*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    /* background: rgba(192, 192, 192, 0.39); */
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}


/* LEFT-COL */
.left-col{
    flex-basis: 45%;
}
nav{
    /* background: rgba(192, 192, 192, 0.39); */
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 100px;
    cursor: pointer;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}
nav ul li a{
    text-decoration: none;
    color: #06a360;
    font-size: 20px;
}
.left-col-info{
    /* background: rgba(192, 192, 192, 0.39); */
    width: 100%;
    margin: 30% 0px;
}
.left-col-info h1{
    color: #06a360;
    font-size: 90px;
}
.left-col-info p{
    color: #555;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}
.left-col-info button{
    background: #06a360;
    color: #fff;
    outline: none;
    padding: 30px 60px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.social-icons{
    margin-top: 50px;
}
.social-icons a{
    font-size: 30px;
    padding: 10px;
    color: #06a360; 
    cursor: pointer;
}



/* RIGHT-COL */

.right-col{
    background: rgba(192, 192, 192, 0.39);
    flex-basis: 55%;
    width: 100%;
    background: #06a360; 
}
.right-col img{
    width: 100%;
}
.rigth-col-info{
    /* background: rgba(192, 192, 192, 0.39); */
    box-sizing: border-box;
    padding: 60px 60px;
}
.rigth-col-info h3{
    color: #fff;
    font-weight: 300;
    font-size: 36px;
}
.rigth-col-info p{
    color: rgba(255, 255, 255, 0.514);
    line-height: 27px;
    font-size: 20px;
    margin: 40px 0px;
}
hr{
    background:  rgba(255, 255, 255, 0.514);
    border: none;
    width: 450px;
    height: 3px;
    margin-top: 25px;
}
.arrow-control{
    /* background: rgba(192, 192, 192, 0.39); */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrow-control img{
    width: 85px;
    cursor: pointer;
}
.arrow-control-line{
    width: 3px;
    height: 60px;
    background:  rgba(255, 255, 255, 0.74);
}



/* MEDIA QUERIES */
@media only screen and (max-width: 770px){
    
    
    /* LEFT-COL */
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left-col{
        flex-basis: 100%;
    }
    nav{
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    nav .logo{
        width: 60px;
        padding: 20px;
    }
    nav ul li a{
        font-size: 12px;
    }
    .left-col-info{
        width: 90%;
        margin-left: 10px;
        text-align: center;
    }
    .left-col-info h1{
        font-size: 40px;
    }
    .left-col-info p{
        font-size: 14px;
        line-height: 18px;
    }
    .left-col-info button{
        padding: 20px 50px;
        font-size: 14px;
    }

    /* RIGHT-COL */
    .rigth-col-info{
        text-align: center;
    }
    .rigth-col-info h3{
        font-size: 30px;
    }
    .rigth-col-info p{
        line-height: 20px;
        font-size: 14px;
    }
    hr{
        width: 170px;
    }
    .arrow-control{
        width: 100px;
        margin-left: 40px;
    }
    .arrow-control img{
        width: 45px;
    }
    .arrow-control-line{
        height: 30px;
        width: 1px;
    } 
}